body{
  font-family: Arial, sans-serif;
  margin:0;
  background:#f4f6f8;
  color:#333;
}

.hero{
  background:linear-gradient(135deg,#50bae6,#3b82f6);
  color:white;
  padding:60px 20px;
  text-align:center;
  animation:fadeIn 1.5s ease;
  border-radius :10px;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 20px;
  background:white;
  color:#1f2933;
  text-decoration:none;
  border-radius:25px;
  font-weight:bold;
}

section{
 
  margin:10px;
  padding:30px;
  background:gray;
  border-radius:10px;
  animation:slideUp 1s ease;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
}

.card{
  padding:20px;
  background:#e5e7eb;
  border-radius:8px;
  text-align:center;
}

article{
  margin-bottom:20px;
}

blockquote{
  background:#e5e7eb;
  padding:15px;
  border-left:5px solid #3b82f6;
}

footer{
  text-align:center;
  padding:20px;
  background:#1f2933;
  color:white;
}

@keyframes fadeIn{
  from{opacity:0;}
  to{opacity:1;}
}

@keyframes slideUp{
  from{opacity:0; transform:translateY(30px);}
  to{opacity:1; transform:translateY(0);}
}
div.cover-contact{ 
	position: absolute;
	top: 5px;
	left: 10px;
}
a.contacter{
	color:#b9cc1c ;
	border:3px solid var(--color1);
	padding: 2px 18px;
	text-decoration: none;
	display:inline-block;
	margin-top: 10px;
	background-color: #550981;
	font-size: 14px;
}
h1,h2{
	color: #6c17eb;
	font-family: Arial;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 0px;
}
#services
{
	background-color:#bccfeb;
}
#tools
{
	background-color:#bccfeb;
	padding:5px;
}
#contact{
	padding :10px;
}


h3{
	text-align:center;
}
.table{
 	display: table;
 	margin: 0 auto;
	margin:5px;
}

a{
 	display: inline-block;
 	text-decoration: none ;
 	padding: 5px 10px;
 	color:FFF;
 	text-transform:uppercase;
 	font-size: 15px; 
 }
 ul { 
	list-style-type: none;
	float:left;
	display :flex;
	gap 20px;
	padding-left:0px;
 }
 li.a{
	 margin-left:5px;
	 margin-right:5px;
	 border:2Px;
 }
 p{
	 padding:5px;
	 margin:5px;
 }